.container{
    font-family: sans-serif;
    background-color: #eaebed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0;
}

#right-div {
    width: 49%;
    height: 100vh;  /* aukštį išlaiko 100% */
    
}

#left-div { 
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#style-440 {
    text-align: center;
    width: 100%;
    text-align: center;
}

button {
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; /* elementas paverčiamas į bloką, kad būtų galima naudoti 'margin' */
    margin: 0 auto; /* elemento lygiavimas per vidurį */
    margin-top: 4%;
  }


/*
align-items: center;
display: flex;
justify-content: center;
*/