.container{
    font-family: 'Helvetica Neue', Arial, sans-serif;

    background-color: #eaebed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0;
}

#right-div {
    width: 50%;
    height: 100vh;  /* aukštį išlaiko 100% */
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#left-div { 
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{

}

h3 {

}

#style-440 {
    text-align: center;
    width: 100%;
    text-align: center;
}

button {
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 4%;
  }

button:hover {
    background-color: #ffe040;
    color: #333;
    font-weight: 900;
    font-style: italic;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }


/*
align-items: center;
display: flex;
justify-content: center;
*/